body {background-color: yellow;}
h1 {color: red; text-align: center; font-size: 50px;}
p {text-align: center;}
nav {background-color: white; text-align: center;}
a {margin: 0 30px; text-align: center;}
img {width: 400px; height: 200px;}
.body {text-align: center; margin: 20;}
